#presence_section {
    background-color: #fff;
    /* background-image: url(/src/images/bg/Declaração-teste.png); */
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_text {
    margin: auto 5rem;
    font-size: 2rem;
}

.rsvp_btn {
    color: var(--light);
    background-color: var(--mars-primario);
    margin: 0 auto 10rem auto;
    font-size: 3rem;
    text-transform: uppercase;
}