/*  */
/* SECAO 2 */
/*  */
#presence_section {
    background-color: #fff;
    /* background-image: url(/src/images/bg/Declaração-teste.png); */
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_text {
    margin: auto 5rem;
    font-size: 2rem;
}

.rsvp_btn {
    color: var(--light);
    background-color: var(--mars-primario);
    margin: 0 auto 10rem auto;
    font-size: 3rem;
    text-transform: uppercase;
}

/*  */
/* SECAO 3 */
/*  */
/* ...geral */
.conteiner_cards {
    margin-top: 5rem}

/* ...cards */
.list_cards {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5rem;
    max-width: 100rem;
    margin: 0 auto
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;}
.card > h3 {
    position: relative;
    color: var(--dourado);
    font-family: 'Dancing Script', pacifico, cursive;
    font-size: 2rem;
    text-transform: capitalize}


.inner_card {
    display: flex;
    width: 90%;
    margin: 0.5rem auto;
    border-radius: 1rem;
    text-align: left;
    align-items: center}
.inner_card > .conteiner {
    display: grid;
    grid-template-columns: 1fr 3fr}
.inner_card em {
    color: rgba(255, 255, 255, 1);
    background-color: #9779FF;
    padding: 1rem 2rem;
    font-size: 1.2rem}
.inner_card .conteiner_img {
    display: flex;
    height: 5rem;
    max-width: 10rem;
    overflow: hidden;
    justify-content: center;
    align-content: center;}
.inner_card img {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

/* ...wedy */
.inner_card.wedy {
    border: 2px solid #9779FF}
.inner_card.wedy em {
    background-color: #9779FF;
}
/* ...magalu */
.inner_card.magalu {
    border: 2px solid #0e89ff}
.inner_card.magalu em {
    background-color: #0e89ff;
}
/* ...casas freitas */
.inner_card.casas_freitas {
    border: 2px solid #074cbf}
.inner_card.casas_freitas em {
    background-color: #074cbf}
.inner_card.casas_freitas img {
    transform: translateY(-21px);
}
.modal.casas_freitas .location {
    margin-bottom: 1rem;
}
.modal.casas_freitas .location > strong,
.modal.casas_freitas .howto > strong {
    text-transform: uppercase;
}

/* BOTAO PIX */
.conteiner_pix_option {
    position: relative;
    max-width: 50rem;
    max-height: 20rem;
    margin: 3rem auto 10rem auto}
ul.list_pix {
    display: flex}
.description {
    display:flex;
    flex-direction: column;
    width:50%;
    color: #fff;
    background-color: #2ebdaf;
    padding: 0rem 1rem;
    border-radius: 2rem 0 0 2rem;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;}
.pix_image {
    width: 50%;
    background-color: #fff;
    border-radius: 0 2rem 2rem 0}
.pix_image img {
    width: 100%;
    padding: 1rem 2rem;
}
.modal.pix .qr_code {
    display: flex;
}
.modal.pix .qr_code > strong {
    margin-top: 1rem;
}
.modal.pix .qr_code img {
    width: 20rem;
}



/*  */
/* MOBILE */
/*  */
@media screen and (max-width: 767px) {
    /*  */
    /* SECAO 2 */
    #presence_section {
        padding: 0 1rem;
    }

    .rsvp_btn {
        width: 90vw;
        margin: 0 auto auto auto;
        font-size: 2rem;
    }

    /*  */
    /* SECAO 3 */
    .conteiner_cards {
        margin: auto;
    }

    .list_cards {
        display: block;
        row-gap: 1rem;
        height: 60vh;
        max-width: 90vw;
    }
    .card.we_story {
        height: 30%;
        margin-bottom: .5rem;
    }
    .card.we_lists {
        height: 70%;
        padding: 1rem;
    }
    .inner_card_group {
        display: flex;
        height: 100%;
        overflow-y: scroll;
    }
    .inner_card {
        flex-shrink: 0;
        margin: auto .5rem;
    }
    .inner_card > .conteiner {
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
    }

    /* BOTAO PIX */
    .conteiner_pix_option {
        max-height: 7rem;
        max-width: 90vw;
        margin: 0 auto auto auto;
    }
    .conteiner_pix_option .description {
        border-radius: 1rem 0 0 1rem;
        font-size: 1.4rem;
    }
    .pix_image {
        border-radius: 0 1rem 1rem 0
    }
}