/*  */
/* SECAO 2 */
/*  */
#presence_section {
    background-color: #fff;
    /* background-image: url(/src/images/bg/Declaração-teste.png); */
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_text {
    margin: auto 5rem;
    font-size: 2rem;
}

.rsvp_btn {
    color: var(--light);
    background-color: var(--mars-primario);
    margin: 0 auto 10rem auto;
    font-size: 3rem;
    text-transform: uppercase;
}

/*  */
/* SECAO 3 */
/*  */
.conteiner_cards {
    margin-top: 5rem}
.list_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    max-width: 100rem;
    margin: 0 auto}
.card {
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;}
.card > h3 {
    text-transform: uppercase;
}

/* BOTAO PIX */
.conteiner_pix_option {
    position: relative;
    max-width: 50rem;
    max-height: 20rem;
    margin: auto auto 10rem auto}
ul.list_pix {
    display: flex}
.description {
    display:flex;
    flex-direction: column;
    width:50%;
    background-color: #2ebdaf;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 0 0 2rem}
.pix_image {
    width: 50%;
    background-color: #fff;
    border-radius: 0 2rem 2rem 0}
.pix_image img {
    width: 100%;
    padding: 1rem 2rem;
}
