/*animacao de fotos na main*/
@keyframes changePhotos {
    0% { background-image: url('../images/bg/bg-img-01.png'); opacity: 0; background-position-y: -120px;}
    5% { background-image: url('../images/bg/bg-img-01.png'); opacity: 1; background-position-y: -120px;}
    25% { background-image: url('../images/bg/bg-img-01.png'); opacity: 1; background-position-y: -120px;}
    29% { background-image: url('../images/bg/bg-img-01.png'); opacity: 0; background-position-y: -120px;}
    30% { background-image: url('../images/bg/bg-img-02.jpg'); opacity: 0; background-position-y: 0}
    35% { background-image: url('../images/bg/bg-img-02.jpg'); opacity: 1; }
    55% { background-image: url('../images/bg/bg-img-02.jpg'); opacity: 1; }
    59% { background-image: url('../images/bg/bg-img-02.jpg'); opacity: 0; }
    60% { background-image: url('../images/bg/bg-img-03.jpg'); opacity: 0; }
    65% { background-image: url('../images/bg/bg-img-03.jpg'); opacity: 1; }
    85% { background-image: url('../images/bg/bg-img-03.jpg'); opacity: 1; }
    100% { background-image: url('../images/bg/bg-img-03.jpg'); opacity: 0; }
}

#mainSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: transparent;
    margin-top: 4.4rem;
    align-items: center;
}

.main_title {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: #FFF;
    margin: 4rem auto 0 auto;
    justify-content: center;
    font-size: 15rem;
    font-family: 'Dancing Script', pacifico, cursive;
    text-transform: capitalize}
.main_title strong {
    display: inline-block;
    width: 100%;
    text-align: center}
.main_title .date {
    font-size: 2rem;
    text-transform: lowercase;
    margin-top: -1rem;
}

/* imagens de fundo */
.bg_conteiner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;} 
.bg_conteiner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, maroon, transparent);
    z-index: 1}
.bg-slide-images {
    height: 100vh;
    background-color: maroon;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    animation-name: changePhotos;
    animation-iteration-count: infinite;
    animation-duration: 100s;
}

/*  */
/* botao */
/*  */
.advice_btn {
    margin: 0 auto auto auto;
    color: maroon;
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.9rem;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 1s}
.advice_btn:hover {
    background-color: rgb(195 134 54)
}

/*  */
/* MOBILE */
/*  */
@media screen and (max-width: 767px) {
    .main_title {
        margin-top: 0;
        font-size: 9rem
    }

    .confirmation_advice button {
        font-size: 1.6rem;
    }
}